@import '../shared/constants';
@import '../shared/utilities';

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#main {
}

#location {
  button {
    width: 100%;
    margin-bottom: 10px;
  }
}

#map-overlay {
  margin-bottom: 10px;
}

#map-canvas {
  width: 100%;
  height: 400px;
}

button.submit {
  width: 100px;
}
