@import '../shared/constants';
@import '../shared/utilities';

body {
  h1, h2, h3, h4, h5, h6 {
  }

  h1 {
    font-size: 40px;
    font-weight: 100;
  }

  h2 {
    font-size: 32px;
    font-weight: 200;
  }

  h3 {
    font-size: 22px;
    font-weight: 200;
  }

  h4 {
    font-size: 15px;
    color: #777777;
    font-weight: 400;
  }

  overflow-x: hidden;

  &.popover-active {
    overflow: hidden;
  }

  .slide-show, .slide-hide {
    @include transition();
  }

  .slide-show, .slide-hide.slide-hide-active {
    left: $nav-width-handhelds;
    @include respond-to(handhelds) { left: $nav-width-handhelds; }
    @include respond-to(tablets) { left: $nav-width-tablets; }
    @include respond-to(desktops) { left: $nav-width-desktops; }
  }

  .slide-show.slide-show-active, .slide-hide {
    left: 2*$nav-width-handhelds;
    @include respond-to(handhelds) { left: 2*$nav-width-handhelds; }
    @include respond-to(tablets) { left: 2*$nav-width-tablets; }
    @include respond-to(desktops) { left: 2*$nav-width-desktops; }
  }

  h1 {
    @include respond-to(handhelds) { font-size: 32px; }
  }

  h2 {
    @include respond-to(handhelds) { font-size: 22px; }
  }

  h3 {
    @include respond-to(handhelds) { font-size: 18px; }
  }

  #view {
    padding-bottom: $view-padding;
  }

  #main {
    @include transition();

    width: 100%;
  }

  .pure-menu-heading {
    .loading-icon {
      @include respond-to(handhelds, tablets) {
        display: none !important;
      }
    }
  }

  #mainMenuLink {
    @include transition();

    z-index: 1004;

    &:link, &:visited, &:hover, &:active {
      color: #eee;
      text-decoration: none;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.9);
    }

    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);

    i {
      width: auto;
    }

    &.active {
      // This doesn't show up on anything other than handhelds and mobile.
      @include transform($nav-width-handhelds, 0);
      @include respond-to(tablets) { @include transform($nav-width-tablets, 0); }
    }
  }

  .header {
    @include respond-to(handhelds) { padding: 0; }

    .header-buttons {
      float: right;
      margin-top: -30px;
    }

    .breadcrumbs {
      .divider {
        color: #ccc;
        font-weight: 200;
      }

      a, a:link, a:visited, a:hover, a:active {
        color: #08c;
        text-decoration: none;

        &.current {
          font-weight: bold;
        }
      }
    }
  }

  .layout {
    @include respond-to(handhelds) {
      padding-left: $collapsed-nav-width;

      &.active #main {
        @include transform($nav-width-handhelds, 0);
      }
    }

    @include respond-to(tablets) {
      padding-left: $collapsed-nav-width;

      &.active #main {
        @include transform($nav-width-tablets, 0);
      }
    }

    @include respond-to(desktops) {
      padding-left: $nav-width-desktops;
      padding-right: 0px;
    }

    @include respond-to(widescreens) {
      padding-left: $nav-width-widescreens;
      padding-right: 0px;
    }
  }

  .content {
    width: 80%;
    margin: auto;

    @include respond-to(handhelds, tablets) {
      width: 90%;
    }
  }

  .table-header {
    margin-bottom: 20px;
    display: table;
    width: 100%;

    > * {
      display: table-cell;
    }

    .table-search {
      width: 70%;
      vertical-align: bottom;
      text-align: right;
    }

    .table-buttons {
      width: 30%;
      vertical-align: top;
    }
  }
}
