<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id        = "com.scigit.consilium"
  versionCode="10"
  version   = "1.0.0">

  <!-- versionCode is optional and Android only -->

  <name>Consilium</name>

  <description>
    Mobile data entry for insurance brokers.
  </description>

  <author href="https://scigit.com" email="eric@scigit.com">
    SciGit Inc.
  </author>

  <access origin="http://consilium.scigit.com" />
  <access origin="https://consilium.scigit.com" />
  <access origin="http://consilium-staging.scigit.com" />
  <access origin="https://consilium-staging.scigit.com" />

  <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.CameraLauncher" />
    <param name="ios-package" value="CDVCamera" />
  </feature>
  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
    <param name="ios-package" value="CDVConnection" />
  </feature>
  <feature name="Downloader">
    <param name="android-package" value="com.scigit.plugins.Downloader" />
  </feature>

  <plugin name="SQLitePlugin" value="org.pgsqlite.SQLitePlugin"/>

</widget>
