<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="no-top-margin">Upcoming pickups for Garbage</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 garbage">
   <span>Garbage - 7am, Thurs Dec 27</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 garbage">
   <span>Garbage - 7am, Thurs Jan 4</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 garbage">
   <span>Garbage - 7am, Thurs Jan 11</span>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <button type="button" class="btn btn-warning"><span class="fa fa-calendar"></span> Add to iCal</button>
    <button type="button" class="btn btn-primary"><span class="fa fa-calendar"></span> Edit notifications</button>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
   <span><strong>Description</strong></span>
  </div>
  <div class="col-sm-6 col-sm-offset-3">The City of Stratford offers curbside
collection for garbage. Trucks
begin collecting at 8 a.m. so please
have all items to the curb with required garbage tags by then.
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
   <span><strong>Tag prices</strong></span>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
<table class="table table-striped" style="width: 100%;" border="0" cellspacing="0" summary="Table showing garbage tag prices"><tbody><tr><td valign="top">
<p class="Standard" xml:lang="en-US">Type of Garbage</p>
</td><td valign="top">
<p class="NormalWeb" xml:lang="en-US">Capacity and Size Regulations</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">Cost (number of tags needed)</p>
</td></tr><tr><td valign="top">
<p class="Standard" xml:lang="en-US">Plastic Bag</p>
</td><td valign="top">
<p class="NormalWeb" xml:lang="en-US">Up to 30 x 38 in. or 76 x 96 cm. 85 Litres Maximum 22kg/50lbs</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">$2.40 (1 tag)</p>
</td></tr><tr class="altrow"><td valign="top">
<p class="Standard" xml:lang="en-US">Plastic Bag (Grocery Bag)</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">Standard plastic grocery store bag with two handles</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">(1/2 tag cut lengthwise)</p>
</td></tr><tr><td valign="top">
<p class="Standard" xml:lang="en-US">Rigid Container</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">Up to 128 Litres Maximum 22kg/50lbs</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">$2.40 (1 tag)</p>
</td></tr><tr class="altrow"><td valign="top">
<p class="Standard" xml:lang="en-US">Rigid Container</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">129 to 240 Litres "Carts Ahoy"</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">$4.80 (2 tags)</p>
</td></tr><tr><td valign="top">
<p class="Standard" xml:lang="en-US">Rigid Container</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">241 to 360 Litres "Carts Ahoy"</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">$7.20 (3 tags)</p>
</td></tr><tr class="altrow"><td valign="top">
<p class="Standard" xml:lang="en-US">Bundle (must be tied)</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">22 kg or 50 lbs. 100 x 50 x 50 Centimetres or 39 x 20 x 20 inches</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">$2.40 (1 tag)</p>
</td></tr><tr><td valign="top">
<p class="Standard" xml:lang="en-US">Landfill Drop Off</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">Bag or Can (maximum of 5 bags or cans per vehicle)</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">$2.80 per bag or can</p>
</td></tr><tr class="altrow"><td valign="top">
<p class="Standard" xml:lang="en-US">Landfill Drop Off</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">Loose loads of garbage (or more than 5 bags or cans)</p>
</td><td valign="top">
<p class="Standard" xml:lang="en-US">$74.50 per tonne</p>
<p class="Standard" xml:lang="en-US">$15.00 min. fee</p>
</td></tr></tbody></table>
</div>
</div>

<div class="row text-center">
  <div class="col-sm-6 col-sm-offset-3">
    <br>
    <button type="button" class="btn btn-primary btn-lg" click-href="#/search?expand=garbage">Show Garbage Items</button>
  </div>
</div>

<!-- <div class="wastetype">
  <div class="garbage">

  </div>
  <div class="info">
    Garbage!
  </div>
</div> -->
