<div class="row">
  <div class="col-sm-5 col-sm-offset-2">
    <h2>Upcoming pickups for Recyclables</h2>
  </div>
  <div class="col-sm-2 col-sm-offset-2">
    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-calendar"></span> Add to iCal</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 recycle">
   <span>Recycle - 7am, Thurs Dec 27</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 recycle">
   <span>Recycle - 7am, Thurs Jan 4</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 recycle">
   <span>Recycle - 7am, Thurs Jan 11</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
   <span class="pull-right"><a href="#"><h3>EDIT</h3></a></span>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
   <span><strong>Description</strong></span>
  </div>
  <div class="col-sm-6 col-sm-offset-3">The City of Stratford offers curbside
collection for blue box recyclables. Trucks
begin collecting at 8 a.m. on your
scheduled biweekly recycling day so
please have all items to the curb by then.
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-6 col-sm-offset-3">
    <br><br>
    <button type="button" class="btn btn-primary btn-lg">Show All Recyclables</button>
  </div>
</div>

<!-- <div class="wastetype">
  <div class="garbage">

  </div>
  <div class="info">
    Garbage!
  </div>
</div> -->
