<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="no-top-margin">Upcoming pickups for Yard Waste</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 yard">
   <span>Yard Waste - 7am, Thurs Dec 27</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 yard">
   <span>Yard Waste - 7am, Thurs Jan 4</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 yard">
   <span>Yard Waste - 7am, Thurs Jan 11</span>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <button type="button" class="btn btn-warning"><span class="fa fa-calendar"></span> Add to iCal</button>
    <button type="button" class="btn btn-primary" click-href="#/edit"><span class="fa fa-calendar"></span> Edit notifications</button>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
   <span><strong>Description</strong></span>
  </div>
  <div class="col-sm-6 col-sm-offset-3">The City of Stratford offers curbside
collection for yard waste and compostables. Trucks
begin collecting at 8 a.m. at certain times of the year.
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-6 col-sm-offset-3">
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" click-href="#/search?expand=yard">Show Yard Waste Items</button>
  </div>
</div>

<!-- <div class="wastetype">
  <div class="garbage">

  </div>
  <div class="info">
    Garbage!
  </div>
</div> -->
