<div id="main" class="container notifications">
  <div class="row">
    <h3 class="col-sm-8 col-sm-offset-2">Notifications</h3>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 waste-category notification" click-href="#/collections/Recyclable">
      <div class='cat__date'>8:08 AM - 13 Nov 13</div>
      <div class='cat__not col-xs-11'>Leaf and Yard waste collection will be extended for 1 week! Collection will be on your normally scheduled garbage day Nov 18-22 city wide.</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 waste-category notification" click-href="#/collections/Recyclable">
      <div class='cat__date'>7:08 AM - 8 Nov 13</div>
      <div class='cat__not'>Landfill open Monday November 11, 2013 from 9am-12pm in recognition of Remembrance Day. Collection  schedule is unchanged.</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 waste-category notification" click-href="#/collections/Recyclable">
      <div class='cat__date'>6:00 AM - 7 Nov 13</div>
      <div class='cat__not'>Final Leaf and Yard waste collection, November 11-15 on your collection day!  Leaf and Yard waste can be dropped off free at the landfill.</div>
    </div>
  </div>
</div>
