<div id="main" data-ng-controller="PickupsCtrl">
  <div class="alert alert-info" ng-hide="hideAlert">
    <a class="close pull-right" data-dismiss="alert" ng-click="actuallyHideAlert()">&times;</a>
    Leaf and Yard waste collection will be extended for 1 week! Collection will be on your normally scheduled garbage day Nov 18-22 city wide.
  </div>

  <div class="next" click-href="#/collections/Garbage" style="cursor: pointer">
    <h3 class='garbage__title'>Next:</h3>
    <h2 class='garbage__sub'>Garbage collection</h2>
    <h2 class='garbage__sub garage__sub__date'>Mon, November 18</h2>
    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </div>

  <div class="row">
    <h4 class="col-sm-8 col-sm-offset-2 text-center category__header">Upcoming pickups &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Dates</h3>
  </div>

  <div class="row" ng-show="active('recycle')">
    <div class="col-sm-8 col-sm-offset-2 waste-category recycle" click-href="#/collections/Recyclable">
     <span class='cat__name'>Recycling</span> <div class='category__date recycle__date'>Nov 19</div>
     <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </div>
  </div>

  <div class="row" ng-show="active('yard')">
    <div class="col-sm-8 col-sm-offset-2 waste-category yard" click-href="#/collections/Yard%20Waste">
     <span class='cat__name'>Yard Waste</span> <div class='category__date yard__date'>Nov 24</div>
     <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </div>
  </div>

  <div class="row">
    <h4 class="col-sm-8 col-sm-offset-2 text-center category__header">Drop-off dates</h3>
  </div>

  <div class="row" ng-show="active('hazard')">
    <div class="col-sm-8 col-sm-offset-2 waste-category hazard" click-href="#/collections/Hazardous%20Waste">
     <span class='cat__name'>Hazardous Materials</span> <div class='category__date hazard__date'>Dec 3</div>
     <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </div>
  </div>

  <div class="row" ng-show="active('dropoff')">
    <div class="col-sm-8 col-sm-offset-2 waste-category garbage" click-href="#/collections/Garbage">
      <span class='cat__name'>Large items</span> <div class='category__date garbage__date'>Dec 8</div>
     <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </div>
  </div>

  <!-- <div class="wastetype">
    <div class="garbage">

    </div>
    <div class="info">
      Garbage!
    </div>
  </div> -->
</div>
