<div class="row">
  <div class="col-sm-5 col-sm-offset-2">
    Upcoming pickups for Recyclables
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-calendar"></span> Add to iCal</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 recycle">
   <span>7am, Thurs Dec 27 :: Recycle</span>
   <span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 recycle">
   <span>7am, Thurs Jan 4 :: Recycle</span>
   <span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 recycle">
   <span>7am, Thurs Jan 11 :: Recycle</span>
   <span class="glyphicon glyphicon-chevron-right pull-right"></span>
  </div>
</div>


<!-- <div class="wastetype">
  <div class="garbage">

  </div>
  <div class="info">
    Garbage!
  </div>
</div> -->
