{{ setTitle('What goes where?') }}

<div id="main" class="container" data-ng-controller="SearchCtrl">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <form class="navbar-form navbar-left" role="search" style="width: 100%;">
      <div class="form-group" style="width: 100%;">
        <input type="text" ng-model="query" class="form-control" placeholder="Search">
      </div>
    </form>
    </div>
  </div>

  <div ng-repeat="cat in categories" ng-hide="query">
    <div class="row text-center">
      <div class="waste-category col-sm-6 col-sm-offset-3 {{ cat.id }}" ng-click="toggleCategory(cat.id)">
        <span>{{ cat.name }}</span>
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </div>
    </div>
    <div class="row">
      <div class="waste-category-list col-sm-6 col-sm-offset-3 {{ cat.id }} {{ expand != cat.id && 'hide' }}">
        <ul ng-repeat="item in itemsByCategory[cat.name]">
          <li>{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="query">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ul id="item-search">
          <li class="item-result" ng-repeat="item in items | filter:matchQuery | orderBy:matchQuality" ng-click="toggleItem(item.name)">
            {{ item.name }}
            <div class="pull-right">
              <i class="fa fa-fw {{ icon[item.category] }}"></i>
              <i class="fa fa-fw fa-chevron-right"></i>
            </div>
            <div class="details hide" data-toggle="{{ item.name }}">
              This is a <b>{{ item.category.toLowerCase() }}</b> item.<br />
              For more details on {{ item.category.toLowerCase() }} items, <a href="#/collections/{{ item.category }}">click here</a>.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="wastetype">
    <div class="garbage">

    </div>
    <div class="info">
      Garbage!
    </div>
  </div> -->
</div>
