<div id="main" class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-2">
			<h2>Settings</h2>
			<hr class="soften" />
			<br><br>
			<form class="form-horizontal" role="form">
			  	<div class="form-group">
			    	<label for="inputAddress" class="col-sm-2">Location</label>
			    	<div class="col-sm-6 col-sm-offset-1">
			      		<input type="email" class="form-control" id="inputAddress" placeholder="New address">
			    	</div>
			  	</div>

			  	<div class="form-group">
			  		<label for="optionsRadios1" class="col-sm-4">Push Notifications </label>
				  	<div class="radio">
						<div class="col-sm-2">
					    	<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					    ON
					    </div>
					</div>
				</div>
				<div class="form-group">
					<div class="radio">
						<div class="col-sm-2 col-sm-offset-4">
						    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					    OFF
					    </div>
					</div>
				</div>

			</form>

		</div>
	</div>

</div>

