<div id="main" class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-2">
			<h2>Settings</h2>
			<form class="form-horizontal" role="form">
			  	<div class="form-group">
			    	<label for="inputAddress" class="col-sm-2 control-label">Location</label>
			    	<div class="col-sm-6">
			      		<input type="email" class="form-control" id="inputAddress" placeholder="New address">
			    	</div>
			  	</div>

			  	<div class="radio">
					<label for="optionsRadios1" class="col-sm-4 control-label">Push Notifications </label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    On  
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				    Option two can be something else and selecting it will deselect option one
				  </label>
				</div>

			</form>

		</div>
	</div>

</div>

