$view-padding: 60px;

$body-margin: 20px;

$collapsed-nav-width: 50px;
$nav-width-handhelds: 100px;
$nav-width-tablets: 150px;
$nav-width-desktops: 200px;
$nav-width-widescreens: $nav-width-desktops;

$light-gray: #f8f8f8;
$light-green: #ddffdd;
$light-red: #ffdddd;

$table-hover: rgba(200,200,200,0.1);
