<div class="jumbotron text-center">
  <h3>Next pickup time</h3>
  <h2>7am, Thurs Dec 21</h2>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<h3 class="text-center">Upcoming pickups</h3>

<div>
  <div>
  </div>
</div>
