<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.scigit.plugins.downloader"
      version="0.2.2">
    <name>Downloader</name>
    <description>Downloader Plugin</description>
    <license>Apache 2.0</license>
    <keywords>download,downloader</keywords>


    <js-module src="www/downloader.js" name="Downloader">
        <clobbers target="downloader" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Downloader">
                <param name="android-package" value="com.scigit.plugins.Downloader" />
            </feature>
        </config-file>

        <source-file src="src/android/Downloader.java" target-dir="src/com/scigit/plugins" />
    </platform>
</plugin>
