@import 'constants';
@import 'utilities';

body {
	padding-top: 5em;
	overflow-y: scroll;
}

.next {
	border: 1px solid #ccc;
	margin-bottom: 3em;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 2em;
	padding-bottom: 2em;
}

.waste-category {
	background: #F2F4F4;
	height: 3.5em;
	padding-top: 1em;
	padding-left: 2em;
	font-size: 1.25em;
	margin-top: 0.5em;
}

.waste-category-list {
	background: #f2f4f4;
	padding: 10px;
}

.category__date{
  display: inline;
  position: absolute;
  right: 50px;
}



.garbage {
	border-left: 10px solid black;
}

.hazard {
	border-left: 10px solid orange;
}

.recycle {
	border-left: 10px solid blue;
}

.yard {
	border-left: 10px solid green;
}

.dropoff {
	border-left: 10px solid purple;
}

#mainMenuLink {
  @include transition();

  z-index: 1004;

  &:link, &:visited, &:hover, &:active {
    color: #eee;
    text-decoration: none;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.9);
  }

  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);

  i {
    width: auto;
  }

  &.active {
    // This doesn't show up on anything other than handhelds and mobile.
    @include transform($nav-width-handhelds, 0);
    @include respond-to(tablets) { @include transform($nav-width-tablets, 0); }
  }
}

.nav {
  @include transition();

  left: 0;

  padding-top: $body-margin;
  z-index: 1004;
  @include transform($nav-width-desktops, 0);
  background: #191818;

  ul {
    border-top: 1px solid #333;
  }

  @include respond-to(handhelds) {
    @include transform(0, 0);
    &.active {
      @include transform($nav-width-handhelds, 0);
    }
  }

  @include respond-to(tablets) {
    @include transform(0, 0);
    &.active {
      @include transform($nav-width-tablets, 0);
    }
  }
}

.nav {
  margin-left: -$nav-width-desktops;
  width: $nav-width-desktops;

  @include respond-to(handhelds) { width: $nav-width-handhelds; margin-left: -$nav-width-handhelds; }
  @include respond-to(tablets) { width: $nav-width-tablets; margin-left: -$nav-width-tablets; }
  @include respond-to(desktops) { width: $nav-width-desktops; margin-left: -$nav-width-desktops }

  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;

  a {
    width: 100% !important;
    color: #aaa !important;
    background: transparent !important;
  }

  li {
    width: 100% !important;

    &.active a {
      color: #eee !important;
      background: #1f8dd6 !important;
    }
  }

  ul {
    li {
      font-size: 100%;
      @include respond-to(tablets) { font-size: 125%; }

      a:hover {
        background-color: #333;
      }

      &.menu-item-divided {
        border-top: 1px solid #333;
      }

      &.pure-menu-selected, &.pure-menu-selected a:hover {
        background: #1f8dd6;
        a {
          color: #fff;
        }
      }

      i {
        float: right;
        margin-right: 0.6em;
        line-height: inherit;
      }
    }

    background: transparent;
    border: 0;
    color: #999;

    .pure-menu-heading {
      font-size: 125%;
      @include respond-to(tablets) { font-size: 140%; }

      color: #fff;
      text-transform: none;
      padding: 0 0 0 0.43em;
      margin: 0;
      line-height: 50px;
      height: 50px;
    }

    a {
      border: none;
      white-space: normal;
      padding: 0.6em 0 0.6em 0.6em;
      color: #aaa;
    }
  }
}

.layout {
  @include respond-to(handhelds) {
    padding-left: 0;
    padding-right: 0;

    &.active #main {
      @include transform($nav-width-handhelds, 0);
    }
  }

  @include respond-to(tablets) {
    padding-left: $collapsed-nav-width;
    padding-right: $collapsed-nav-width;

    &.active #main {
      @include transform($nav-width-tablets, 0);
    }
  }

  @include respond-to(desktops) {
    padding-left: $nav-width-desktops;
    padding-right: 0px;
  }

  @include respond-to(widescreens) {
    padding-left: $nav-width-widescreens;
    padding-right: 0px;
  }
}


.glyphicon{
  right: 10px !important;
}

.category__header{
  text-align: left !important;
  position: relative;
  right: -22px;
}

.recycle .cat__name{
  color: #3079b6;
}

.yard .cat__name{
  color: #30b67f;
}

.hazard .cat__name{
  color: #e99144;
}

.yard .cat__name{
  color: #30b67f;
}

