@import 'constants';
@import 'utilities';

body {
	padding-top: 5em;
	overflow-y: scroll;
}

.next {
	border: 1px solid #ccc;
	margin-bottom: 1.7em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 2em;
	padding-bottom: 2em;
  padding-left: 22px;
  background-color: #5B7489;
  color: #FFF;
}

.waste-category {
	background: #FFF;
	height: 3.5em;
	padding-top: 1em;
	padding-left: 2em;
	font-size: 1.25em;
	border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;

  .fa-circle-o, .fa-check-circle-o {
    margin-right: 15px;
  }
}


.waste-category-list {
	background: #f2f4f4;
	padding: 10px;
}

.garbage {
	border-left: 10px solid #5b7489;
}

.hazard {
	border-left: 10px solid #e99144;
}

.recycle {
	border-left: 10px solid #3079B6;
}

.yard {
	border-left: 10px solid #30b67f;
}

.dropoff {
	border-left: 10px solid #735f82;
}


.notification {
  border-left: 10px solid #ff8888;
}

.notification-new {
 border-left: 10px solid red;
}

#mainMenuLink {
  @include transition();

  z-index: 1004;

  &:link, &:visited, &:hover, &:active {
    color: #eee;
    text-decoration: none;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.9);
  }

  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);

  i {
    width: auto;
  }
}

.fuckme {
  @include transition();

  left: 0;
  height: 100%;

  padding-top: $body-margin;
  z-index: 1031;
  @include transform($nav-width-desktops, 0);
  background: #2C2E3A;

  ul {
    border-top: 1px solid #333;
  }

  @include respond-to(handhelds) {
    @include transform(0, 0);
    &.active {
      @include transform($nav-width-handhelds, 0);
    }
  }

  @include respond-to(tablets) {
    @include transform(0, 0);
    &.active {
      @include transform($nav-width-tablets, 0);
    }
  }
}

.fuckme {
  margin-left: -$nav-width-desktops;
  width: $nav-width-desktops;
  height: 100%;

  @include respond-to(handhelds) { width: $nav-width-handhelds; margin-left: -$nav-width-handhelds; }
  @include respond-to(tablets) { width: $nav-width-tablets; margin-left: -$nav-width-tablets; }
  @include respond-to(desktops) { width: $nav-width-desktops; margin-left: -$nav-width-desktops }

  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;

  a {
    width: 100% !important;
    color: #aaa !important;
    background: transparent !important;
  }

  li {
    width: 100% !important;

    &.active a {
      color: #eee !important;
      background: #1f8dd6 !important;
    }
  }

  ul {
    li {
      font-size: 100%;

      a:hover {
        background-color: #333;
      }

      &.menu-item-divided {
        border-top: 1px solid #333;
      }

      &.pure-menu-selected, &.pure-menu-selected a:hover {
        background: #1f8dd6;
        a {
          color: #fff;
        }
      }

      i {
        float: right;
        margin-right: 0.6em;
        line-height: inherit;
      }
    }

    background: transparent;
    border: 0;
    color: #999;

    .pure-menu-heading {
      font-size: 125%;
      @include respond-to(tablets) { font-size: 140%; }

      color: #fff;
      text-transform: none;
      padding: 0 0 0 0.43em;
      margin: 0;
      line-height: 50px;
      height: 50px;
    }

    a {
      border: none;
      white-space: normal;
      padding: 0.6em 0 0.6em 1.8em;
      font-size: 1.1em;
      font-weight: 200;
      color: #C2C2C2;
    }
  }
}

.layout {
  @include respond-to(handhelds) {
    padding-left: 0;
    padding-right: 0;

    &.active #main {
      @include transform($nav-width-handhelds, 0);
    }
  }

  @include respond-to(tablets) {
    padding-left: $collapsed-nav-width;
    padding-right: $collapsed-nav-width;

    &.active #main {
      @include transform($nav-width-tablets, 0);
    }
  }

  @include respond-to(desktops) {
    padding-left: $nav-width-desktops;
    padding-right: 0px;
  }

  @include respond-to(widescreens) {
    padding-left: $nav-width-widescreens;
    padding-right: 0px;
  }
}

.collections {
  @include respond-to(handhelds) {
    padding: 20px;
  }
}



.glyphicon{
  right: 10px !important;
  color: #AFAFAF;
  font-size: 13px;
}

h2 .glyphicon{
  color: #FFF;
  font-size: 15px;
}

.category__header{
  text-align: left !important;
  position: relative;
  right: -9px;
  color: #2D4961;
  font-size: 1.1em;
  text-transform: uppercase;
  top: 3px;
  padding-top: 10px;
}

.recycle .cat__name{
  color: #3079b6;
}

.yard .cat__name{
  color: #30b67f;
}

.hazard .cat__name{
  color: #e99144;
}

.garbage .cat__name{
  color: #735f82;
}

.yard__date{
  background-color: #30b67f;
}

.hazard__date{
  background-color: #e99144;
}

.recycle__date{
  background-color: #3079b6;
}

.garbage__date{
  background-color: #735f82;
}

.category__date{
  display: inline;
  position: absolute;
  right: 50px;
  width: 59px;
  font-size: 15px;
  text-align: center;
  padding: 3px 3px;
  color: #FFF;
}

.garbage__title{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 300;
}

.garbage__sub{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.9em;
  font-weight: 300;
}

.garage__sub__date{
  font-weight: bold;
  font-weight: 400;
}

.cat__not {
  font-size: 80%;
  float: none !important;
  padding: 0;
}

.cat__date {
  font-size: 70%;
  color: #777;
}

.notifications .waste-category {
  height: auto;
  padding: 20px;
}

#main {
  @include transition();

  width: 100%;
}

.navbar {
  @include transition();
  &.active {
    // This doesn't show up on anything other than handhelds and mobile.
    @include transform($nav-width-handhelds, 0);
    @include respond-to(tablets) { @include transform($nav-width-tablets, 0); }
  }
}

.pretty {
  color: #08c !important;
}
